@font-face {
    font-family: lalezar ;
    src: url("../assets/font/Lalezar-Regular.ttf");
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.nav {
    width: 100%;
    height: 150px;
    background-color: #25211e;
    display: flex;
}
.nav-div-1 {
    width: 50%;
}
.nav-div-2 {
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: lalezar;
    direction: rtl;
}
.nav-logo-logo {
    width: 150px;
    height: 150px;
    margin: 0 10px;
}
.navbar ul {
    list-style: none;
    display: flex;

}
.navbar ul a {
    margin: 20px 10px;
    color: gold;
    text-decoration: none;
    font-size: 35px;
    padding: 20px 60px;
}
.navbar ul a:hover {
    transition: 1s;
    color: gainsboro;
}
.section-1 {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/pic/1.jpg");
}
.section-1 div {
    width: 100%;
    height: 300px;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.section-1 p {
    font-size: 50px;
    font-family: lalezar;
    margin: 100px 0 ;
    color: goldenrod;
    background-color:#25211eb6 
}
.section-1 p span {
    color: gold;
    font-size: 25px;
}